<a href="https://colab.research.google.com/github/harshh098/DSA.py/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print pattern
'''
1
12
123
1234
12345

'''
num=int(input(("Enter the number:")))
for i in range(1,num+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

Enter the number:5
1
12
123
1234
12345

In [ ]:
# print pattern
'''
54321
4321
321
21
1

'''

num=int(input("Enter the number :"))
for i in range(num,0,-1):
  for j in range(i,0,-1):
    print(j,end="")
  print()

Enter the number :5
54321
4321
321
21
1

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print("*",end="")
  print()

*****
****
***
**
*

In [ ]:
# print pyramid
'''
    *
   * *
  * * *
 * * * *
* * * * *

'''


n=5
for i in range(1,n+1):
  for spaces in range(1,n-i+1):
    print(" ",end="")

  for j in range(1,i+1):
    print(" *",end="")

  print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
# print reverse pyramid

'''
* * * * *
 * * * *
  * * *
   * *
    *
 '''

n=5
for i in range(n,0,-1):
  for spaces in range(1,n-i+1):
    print(" ",end="")

  for j in range(i,0,-1):
    print("* ",end="")
  print()

* * * * *
 * * * *
  * * *
   * *
    *

In [2]:
# print diamond pattern

'''
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
 '''



n=5
for i in range(1,n+1):
  print(" " *(n-i)+"*"*(2*i-1))

for j in range(n-1,0,-1):
  print(" " *(n-j)+"*"*(2*j-1))

 *******
  *****
   ***
    *

In [ ]:
# print pattern hollow square
'''
***
* *
***

'''

n=3
for i in range(n):
  for j in range(n):

    if i==0 or i==n-1 or j==0 or j==n-1:
      print("*",end="")
    else:
      print(" ",end="")
  print()

***
* *
***

In [ ]:
# print sum of n natural number using recursion

def sum(n):
  if n==1:
    return 1
  else:
    return n+sum(n-1)

n=int(input("Enter the number :"))
print(f"the sum of number is :{sum(n)}")

Enter the number :4
the sum of number is :10

In [3]:
# print sum of even number

n=int(input("Enter the number :"))
sum=0
for i in range(n+1):
  if i%2==0:
    sum+=i
print(f"the sum of even number is :{sum}")

Enter the number :10
the sum of even number is :30

In [5]:
# print factorial using recursion

def fact(n):
  if n==1 or n==1:
    return 1
  else:
    return n * fact(n-1)
n=int(input("Enter the number :"))
print(f" the factorial of number is :{fact(n)}")



# n=5
# fact=1
# for i in range(1,6):
#   fact=fact*i
# print(fact)

120

In [57]:
# print n number of prime number

n = int(input("Enter a number: "))

print("Prime numbers from 1 to", n, "are:")

for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

Enter a number: 50
Prime numbers from 1 to 50 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [11]:
num=int(input("Enter the number :"))
is_prime=True

for i in range(2,num): # for i in range(2,int(num**0.5)+1):
  if num%i==0:
    is_prime=False
    break

if is_prime and num>1:
      print("num is  prime")
else:
      print("num is not  prime ")

Enter the number :107
num is  prime

In [14]:
# print n  even number
num=int(input("Enter the number :"))
for i in range(0,num+1):
  if i%2==0:
    print(i)

Enter the number :10
0
2
4
6
8
10

In [58]:
# count the number of words in a sentence

n="python is an easy language"
count=0
for words in n :
  words=n.split()
  count+=len(words)
print(len(words))


n="i am from virar"
count=0
words=n.split(' ')
for i in words:
  count=count+1
print(count)

5
4

In [53]:
# remove duplicate elements in list without using set

n=[1,2,3,4,5,6,1,4]
for i in n:
  if n.count(i)>1:
    n.remove(i)
print(n)


new_list=[]
for i in n:
  if i not in new_list:
    new_list.append(i)
    new_list.sort()
print(new_list)

[2, 3, 5, 6, 1, 4]
[1, 2, 3, 4, 5, 6]